body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.container label {
  display: block;
  margin-bottom: 10px;
}

.container input[type="text"],
.container textarea {
  width: 100%;
  margin-bottom: 10px;
}

.container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#forms {
  width: 25%;
  height: auto;
}

.form-field {
  border-width: 0px;
}

label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

input {
  background: #ffffff;
  border-radius: 24px;
}

.circular-shape {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

#user-image {
  position: relative;
  left: 80px;
  top: 40px;
}
